rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /systemusers/{id}{
      allow read,write;
    }

    match /admins/{id}{
      allow read,write;
    }

    match /contactus/{id}{
      allow read,write;
    }

    match /products/{productId}{
      allow read,write;
    }
    match /services/{serviceId}{
      allow read, write;
    }
    match /rentals/{rentalId}{
      allow read, write;
    }
  }
}