node_modules
frontend/firebase-debug.log
datas
frontend/ui-debug.log
frontend/ui-debug.log
/frontend/datas
/frontend/datas
frontend/firebase-debug.log
frontend/ui-debug.log
frontend/ui-debug.log
*/firestore-debug.log
frontend/datacharith
frontend/datapriya
frontend/datajanani
frontend/database-debug.log
*/ui-debug.log
