node_modules
frontend/firebase-debug.log
datas
frontend/ui-debug.log
frontend/ui-debug.log
/frontend/datas
/frontend/datas
frontend/firebase-debug.1.log
frontend/ui-debug.log
frontend/ui-debug.log
frontend/firestore-debug.log
*/firestore-debug.log
frontend/datacharith
frontend/datapriya
frontend/datajanani
*/database-debug.log
*/ui-debug.log
