.carousel-indicators [data-bs-target]{
    border-radius: 100% !important;
    width: 15px !important;
    height: 15px !important;
    margin-right: 5px !important;
}
.carousel-caption p{
    font-size: 20px;
    font-style: italic;
    /* padding-bottom: 24.0rem; */
}
