body,input,textarea,a{
    font-family:'Roboto',sans-serif;
}

.formWrapper{
    width: 100%;
    padding: 40px 25px 35px 25px;
    border-radius: 30px 30px 30px 30px;    
    background: #ecf0f3;
}
.formTitle{
    text-align: left;
    margin-left: 23px;
    font-size: 40px;
    letter-spacing: 0.5px;

}
.formFields{
    display: table;
    width: 100%;
    padding: 15px 5px 5px 5px ;
}

.formFields input,.formFields textarea{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 20px 10px 20px 5px;
    width: 100%;

}

.formFields textarea{
    height: 150px;
    resize: none;
}

.formGroup{
    width: 46%;
    padding: 0px 30px;
    margin: 14px 12px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

.formEmail{
    padding: 0px 30px;
    margin: 14px 12px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

.formFields .formGroup:last-child{
    width: 96%;
}

.submitButton{
    width: 96%;
    height: 60px;
    margin: 0px 12px;
    border-radius: 30px;
    font-size: 20px;
    font-weight:700 ;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    text-align: center;
    background: #F44770;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition:0.5s;

}

.submitButton:hover{
    background: #34b399;
}