body {
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #91a6ff 74%);
}

body .dark {
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    color: white;
}

/*

dark
background-color: #130f40;
background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);

light 
background-color: #ffffff;
background-image: linear-gradient(315deg, #ffffff 0%, #91a6ff 74%);

background-color: #fce055;
background-image: linear-gradient(319deg, #fce055 0%, #256eff 37%, #46237a 100%);

background-color: #2b4162;
background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);


*/

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    font-family: "Nunito", sans-serif;
    background-image: linear-gradient(90deg, #410076, #8820dd);
}

body {
    padding: 0;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

.nav_ul li {
    padding: 0 0.6rem;
}

.nav_ul a {
    font-size: 1.05rem;
    color: #000 !important;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.btn1 {
    border: 0;
    padding: 0.5rem 1.8rem;
    color: #fff;
    background-color: #01193c;
}

.btn2 {
    border: 0;
    padding: 0.5rem 1.2rem;
    color: #fff;
    /* background-color: #e005aabe; */
    background-color: #0d6efd;
}